[workspace]
resolver = "3"
members = ["crates/ambers", "crates/ambers-py"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
